.story {
  display: grid;
  max-width: 1000px;
  margin: 70px auto;
  grid-gap: 10px 30px;
  grid-template-columns: 3fr 12fr 3fr;
}

.story>* {
  grid-column: 2 / -2;
}

.story > figure {
  // margin: 0;
  // grid-column: 1 / -1;
}

figcaption {
  // font-size: 10px;
}

.story>blockquote {
  // grid-column: 1 / -1;
  // font-size: 60px;
  // font-style: italic;
  // text-align: center;
  // margin: 0;
}
