<md-toolbar color="primary">
  <!-- This fills the remaining space of the current row -->
      <!--* this one right here pushes stuff to the most right *-->
  <!--<span class="fill-remaining-space"></span>-->
  <!--<div fxLayout="row" fxShow="false" fxShow.gt-sm>-->
  <div fxLayout="row">
    <button md-button routerLink="/" routerLinkActive="active">         <md-icon>home</md-icon>           </button>
    <button md-button routerLink="/about">      <md-icon>assignment_ind</md-icon> </button>
    <button md-button routerLink="/showreel">   <md-icon>next_week</md-icon>      </button>
    <button md-button routerLink="/blog">       <md-icon>description</md-icon>    </button>
    <button md-button (click)="openDialog()">   <md-icon>room_service</md-icon>   </button>
    <button md-button routerLink="showreel/new"> <md-icon>my_library_add</md-icon>   </button>
    <a routerLink="/signup">register</a>
  </div>
</md-toolbar>
  
  <!--<button md-button routerLink="/login"><md-icon>login</md-icon></button>
  <button md-button routerLink="/showreel"><md-icon>view_carousel</md-icon></button>
  <button md-button routerLink="/showreel"><md-icon>work</md-icon></button>
  <button md-button routerLink="/blog"><md-icon>vpn_key</md-icon></button>
  <button md-button (click)="openDialog()"><md-icon>email</md-icon></button>-->
