<md-card class="example-card">
        <md-card-header>
          <div md-card-avatar class="example-header-image"></div>
          <md-card-title>First app</md-card-title>
          <md-card-subtitle>Angular 2+</md-card-subtitle>
        </md-card-header>
        <img md-card-image src="assets/img/showreel/girl-640-min.jpg">
        <md-card-content>
          <p>
            The website you are browsing currently is written using Angular.
            It started as Angular2, and now continuesly growing with the framework
            as well.
          </p>
        </md-card-content>
        <md-card-actions>
          <button md-button>OPEN</button>
          <button md-button>DEMO</button>
          <button md-button>CODE</button>
        </md-card-actions>
</md-card>
