<md-card class="example-card">
        <md-card-header>
          <div md-card-avatar class="example-header-image"></div>
          <md-card-title>{{ project[0].name }}</md-card-title>
          <md-card-subtitle>{{ project[0].category }}</md-card-subtitle>
        </md-card-header>
        <img md-card-image src="assets/img/showreel/girl-640-min.jpg">
        <md-card-content>
          <p>
            {{ project[0].description }}
          </p>
        </md-card-content>
        <md-card-actions>
          <button md-button>OPEN</button>
          <button md-button>DEMO</button>
          <button md-button>CODE</button>
        </md-card-actions>
</md-card>
