<div fxLayout="row">
  <div [fxFlex]="20"></div>

  <div [fxFlex]="60">


    <md-tab-group>

      <md-tab label="me">
        <md-icon>location_on</md-icon> London
      </md-tab> <!-- END of label="me" -->

      <md-tab label="code">
        code
      </md-tab> <!-- END of label="skills" -->

      <md-tab label="skills">
        skills
      </md-tab><!-- -->

      <!--<md-tab label="contact">
        contact
      </md-tab>
       -->

    </md-tab-group>
  </div> <!-- fxFlex="60" END -->

  <div [fxFlex]></div>
</div>

<!--<md-card class="about-me-card">
  <md-card-header>
    <div md-card-avatar class="about-me-img"></div>
  </md-card-header>
</md-card>-->

<!--<div class="containerX">-->
  <!--<div class="container">-->
    <!--<div></div>
    <div [style.sm]="{'font-size.px':40}">flex :D</div>
    <div></div>-->
  <!--</div>-->
<!--</div>-->


<!--<md-toolbar>
  <md-toolbar-row>
    <img src="../../assets/img/me-rounded-min.png" alt="Aurimas Darguzis self portrait" class="self_portrait">
  </md-toolbar-row>
  
  <md-toolbar-row>
    <span class="menu-item"></span>
  </md-toolbar-row>

  <md-toolbar-row>
    <span class="menu-item"></span>
    <md-icon>location_on</md-icon>
    <span>London</span>
  </md-toolbar-row>

  <md-toolbar-row>
    <button class="button_email_me" md-raised-button ><md-icon>email</md-icon></button>
  </md-toolbar-row>
</md-toolbar>-->

<!--<p>about component</p>-->