.about-me-card {
  width: 100%;
}

.about-me-img {
  background-image: url('../../assets/img/me-rounded-min.png');
  background-size: cover;
}


/*.self_portrait {
  width: 145px;
  margin: 0 auto;
}*/