.home-container {
  border: 1px solid #923232;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  border: 1px solid green;
  text-align: center;
  width: 15%;
  cursor: pointer;
}