.stories-container {
  border: 2px solid blue;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.story {
  max-width: 740px;
  padding-left: 20px;
  padding-right: 20px;

  h1 {
    text-align: center;
    font-size: 3.1rem;
  }



  p {
    font-size: 22px;
    line-height: 2.1rem;
  }
}

.code-editor {
  // background-color: hsla(0, 0%, 95%,.2);
  background-color: rgb(30, 30, 30);
  border: 0.5px solid #dbdbdb;
  border-radius: 5px;
  color: #333;
  margin: 16px auto;

  header {
    font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    color: #fafafa;
    font-size: 0.88em;
    padding: 8px 16px;
    border-bottom: 1px solid #958484;
    letter-spacing: 0.05rem;
  }

  .code {
    font-family: Monaco, monospace;
    font-size: 14px;
    
    pre {
      position: relative;
      display: flex;
      font-family: Droid Sans Mono, monospace;
      white-space: pre-wrap;

      code {
        font-size: 0.9em;
        margin-left: 1.5rem;
      }

      button {
        display: inline-block;
        position: absolute;
        top: -5px;
        right: 0px;
        color: #b0bec5;
        background-color: transparent;
        border: none;
        cursor: pointer;
     }
    }
  }

  

  .code-js {
    .console {
      color: #4ec9b0;
    }

    .require {
      color: #dcdcaa;
    }

    .second-level {
      color: #9cdcfe;
    }

    .func-param {
      color: #ce9178;
    }

    .dot {
      color: #d4d4d4;
    }

    .log {
      color: #dcdcaa;
    }

    .parenth {
      color: #ffd700;
    }

    .func-parameter-module {
      color: #569cd6;
    }

    .comment {
      color: #608b4e;
    }

    .var {
      color: #569cd6;
    }

    .var-name {
      color: #9cdcfe;
    }
  }

  .code-node {
    .command {
      color: #00c120;
    }

    .output {
      color: #e6e6e6;
    }
  }

  .code-json {
    color: #ce9178;
  }
}