.button {
  border: 1px solid green;
  text-align: center;
  cursor: pointer;
  width: 17rem;
  height: 5rem;
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;
}

.button-back {
  width: 8.5rem;
  height: 2.5rem; 
}