.project-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
  margin-top: 80px;
}

.project-categories-margin {
  margin: 0 10px;
}

.project-form {
  width: 500px;
}

.project-full-width {
  width: 100%;
}

.back-button {
  margin-top: 20px;
}

.margintop50 {
  margin: 25px 0;
}
