<div fxLayout="row"
     fxLayout.xs="column"
     fxLayoutAlign="center center"
     fxLayoutAlign.xs="start">

  <div class="back-button">
    <a routerLink="/showreel"><button md-fab><md-icon>reply_all</md-icon></button></a>
  </div>

</div>

<div fxLayout="row"
     fxLayout.xs="column"
     fxLayoutAlign="center center"
     fxLayoutAlign.xs="start">
    
    <!-- Form Section -->
    <section class="project-section">
        <!--<form>-->
        <div class="project-form">
          <md-input-container class="project-full-width">
            <input mdInput placeholder="Project name">
          </md-input-container>

          <md-input-container class="project-full-width">
            <textarea mdInput placeholder="Project description"></textarea>
          </md-input-container>

          <md-input-container class="project-full-width">
            <input mdInput type="text" id="imagePath" placeholder="Upload image">
          </md-input-container>

          <md-checkbox class="project-categories-margin" [(ngModel)]="es6">ES6</md-checkbox>
          <md-checkbox class="project-categories-margin" [(ngModel)]="angular">Angular</md-checkbox>
          <md-checkbox class="project-categories-margin" [(ngModel)]="react">React</md-checkbox>
          <md-checkbox class="project-categories-margin" [(ngModel)]="vue">Vue</md-checkbox>
          
          
          
        </div>
        <!--</form>-->


    </section>
     <!-- END of Form Section -->

    <!-- Preview Card 
    <md-card>
      <md-card-content>
        <div>
          <p>preview:</p>
          <img src="" alt="project title image">
        </div>
            <button md-fab type="submit" fxFlexLayout="end"><md-icon>save</md-icon></button>
            <button md-fab type="button" fxFlexLayout="end"><md-icon>cancel</md-icon></button>
      </md-card-content>
    </md-card>  END of Preview Card -->
</div>






<!--<h1>{{ project.name }}</h1>-->
<!--<h2>(editing)</h2>-->
<!--<h3>{{ project.category }}</h3>
<p>{{ project.description }}</p>-->