<div fxLayout="row"
     fxLayout.xs="column"
     fxLayoutAlign="center center"
     fxLayoutAlign.xs="start">

  <div class="back-button">
    <a routerLink="/showreel"><button md-fab><md-icon>reply_all</md-icon></button></a>
  </div>

</div>

<div class="margintop80"></div>

<div fxLayout="row"
     fxLayout.xs="column"
     fxLayoutAlign="center center"
     fxLayoutAlign.xs="start">
    
    <form [formGroup]="projectForm" (ngSubmit)="onSubmit()" class="project-form">
      <div fxLayoutAlign="center">
        <md-input-container>
          <label for="name">Name</label>
          <input formControlName="name" type="text" id="name" mdInput>
        </md-input-container>
      </div>
      <div fxLayoutAlign="center">
        <md-input-container>
          <label for="imagePath">Image URL</label>
          <input formControlName="imagePath" type="text" id="imagePath" mdInput>
        </md-input-container>
      </div>
      <div fxLayoutAlign="center">
        <img src="" alt="preview image">
      </div>

      <div fxLayoutAlign="center">
        <md-input-container>
          <label for="description">Description</label>
          <textarea formControlName="description" type="text" id="description" mdInput></textarea>
        </md-input-container>
      </div>

      <div fxLayoutAlign="center">
        <md-input-container>
          <label for="category">Category</label>
          <input formControlName="category" type="text" id="category" mdInput>
        </md-input-container>
      </div>
      
      <div fxLayoutAlign="center">
        <button type="button" md-fab class="form-action-buttons"><md-icon>cancel</md-icon></button>
        <button type="submit" md-fab class="form-action-buttons"><md-icon>save</md-icon></button>
      </div>
    </form>
</div>


 <!-- Template Driven Form Section 
      <section class="project-section">
        <form (ngSubmit)="onAddProject(f)" #f="ngForm">
          <div class="project-form">
            <md-input-container class="project-full-width">
              <input ngModel name="name" mdInput placeholder="Project name">
            </md-input-container>

            <md-input-container class="project-full-width">
              <textarea ngModel name="description" mdInput placeholder="Project description"></textarea>
            </md-input-container>

            <md-input-container class="project-full-width">
              <input ngModel name="imagePath" mdInput type="text" id="imagePath" placeholder="Upload image">
            </md-input-container>

            <br>

            <label class="category-label">Category:</label><br>
            <div *ngFor="let category of categories" class="project-categories" >
              <md-checkbox ngModel name='project'  class="project-categories-margin">{{category}}</md-checkbox>
            </div>
            
            <div fxLayoutAlign="center">
                <button [disabled]="!f.valid" md-fab type="submit" class="form-action-buttons" fxFlexLayout="end"><md-icon>save</md-icon></button>
                <a routerLink="/showreel">
                  <button md-fab type="button" class="form-action-buttons" fxFlexLayout="end"><md-icon>cancel</md-icon></button>
                </a>
            </div>
            
            
          </div>
        </form>


        </section>
      END of Form Section -->