<!--<div class="container">
  <div class="sp-container">
    <div class="sp-content">
        <div class="sp-row">
          <span><img [src]="image_1" alt="Imgae logo"></span>
          <span><img [src]="image_2" alt="Image logo"></span>
          <span><img [src]="image_3" alt="Imgae logo"></span>
          <span><img [src]="image_4" alt="Imgae logo"></span>
          <span><img [src]="image_5" alt="Imgae logo"></span>
        </div>
        <div class="sp-row sp-side-row">
          <span><img [src]="image_11" alt="Imgae logo"></span>
          <span><img [src]="image_12" alt="Imgae logo"></span>
        </div>
        <div class="sp-row sp-content-row">
          <h1>Coming Soon</h1>
          <h2>Developers notes, tips, code, axiomas, and many more</h2>
          <h1 class="sp-title">Developers Blog</h1>
        </div>
        <div class="sp-row sp-side-row">
          <span><img [src]="image_13" alt="Imgae logo"></span>
          <span><img [src]="image_14" alt="Imgae logo"></span>
        </div>
        <div class="sp-row">
          <span><img [src]="image_6"alt="Imgae logo"></span>
          <span><img [src]="image_7"alt="Imgae logo"></span>
          <span><img [src]="image_8"alt="Imgae logo"></span>
          <span><img [src]="image_9"alt="Imgae logo"></span>
          <span><img [src]="image_10" alt="Imgae logo"></span>
        </div>
        <div class="sp-arrow"></div>
  
      <div class="sp-side">
        <h2>Be the first to know:</h2>
        <div class="sp-input">
          <input type="text" value="Your email">
          <a roterLink="/">Go</a>
        </div>
      </div>

    </div>
  </div>-->
<!--</div>-->

<!--<div fxLayout="row">
  
  <div fxFlexFill>-->
    <div class="blog-component">

    </div>
  <!--</div>
</div>-->
<!--<div>
  Coming soon
</div>-->