.sp-container {
  /*background: url();*/
  font-family: 'Cookie', serif;
  position: relative;
  width: 1000px;
  height: 600px;
  margin: -40px auto 0 auto;
  border: 2px solid powderblue;
}

.sp-content {
  position: absolute;
  z-index: 100;
  width: 800px;
  height: 600px;
  left: 0px;
  top: 0px;
  -webkit-animation: sizeDownMove 0.9s ease-in-out 6s backwards;
  -moz-animation: sizeDownMove 0.9s ease-in-out 6s backwards;
  -ms-animation: sizeDownMove 0.9s ease-in-out 6s backwards;
  animation: sizeDownMove 0.9s ease-in-out 6s backwards;
  -webkit-animation: scale(0.6);
  -moz-animation: scale(0.6);
  -o-animation: scale(0.6);
  -ms-animation: scale(0.6);
  animation: scale(0.6);
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}

.sp-arrow {
  /*background: transparent url('./img/') no-repeat top left;*/
  position: absolute;
  top: 50%;
  margin-top: -77px;
  left: 82%;
  width: 198px;
  height: 155px;
  animation: slideIn 0.6s ease-in-out 6s backwards;
  z-index: 100; 
}

.sp-side h2 {
  font-size: 70px;
  padding: 20px 0px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  font-family: 'Unlock', Arial, sans-serif;
}

.sp-input {
  background-color: rgba(255,255,255,0.3);
  height: 30px;
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto;
  width: 260px;
}

.sp-input input[type="text"] {
  width: 210px;
  padding: 6px;
  background-color: #fff;
  border: 1px solid #666;
  border-radius: 4px;
  float: left;
  font-family: 'Cookie', serif;
  font-size: 18px;
}

.sp-input input[type="text"]:focus {
  outline-color: #acdacf;
}

.sp-input a {
  float: left;
  background-color: #418e7b;
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 5px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  font-family: 'Unlock', Arial, sans-serif;
}

.sp-input a:hover {
  background-color: #fff;
  color: #418e7b;
}

.sp-content h1:first-child {
  font-size: 100px;
  text-align: center;
  color: #fff;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  line-height: 80px;
  padding: 30px 0px 20px 0px;
  font-family: 'Unlock', Arial, sans-serif;
  animation: fromBack 1.2 ease-in-out 1.5s backwards, fadeOut 0.5s linear 4.5s forwards;
}

.sp-content h1.sp-title {
  font-size: 90px;
  line-height: 80px;
  position: absolute;
  top: 50px;
  left: 160px;
  width: 470px;
  border-radius: 50%;
  background-color: #fff;
  background-color: rgba(255,255,255,0.3);
  padding-top: 155px;
  height: 305px;
  text-transform: uppercase;
  text-align: center;
  color: #518f7e;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.9);
  font-family: 'Unlock', Arial, sans-serif;
  animation: fadeInColor 1.2s linear 5.2s backwards;
}