<md-sidenav-container fullscreen>
  <md-sidenav #sidenav mode="side">
    <md-toolbar>
      <!--<span class="menu-item">Personality</span>-->
      <img src="../../assets/img/me-rounded-min.png" alt="Aurimas Darguzis self portrait" class="self_portrait">

      <md-toolbar-row>
        <span class="menu-item"></span>
      </md-toolbar-row>

      <md-toolbar-row>
        <span class="menu-item"></span>
        <a href="#">Available online</a>
      </md-toolbar-row>
      
      <md-toolbar-row>
        <span class="menu-item"></span>
        <a href="#">github</a>
      </md-toolbar-row>

      <md-toolbar-row>
        <span class="menu-item-contact" (click)=openDialog()>Contact</span>
      </md-toolbar-row>
    </md-toolbar>
  </md-sidenav>


  <md-toolbar color="primary">
    <button md-button (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>  
    </button>
    <span class="name">Aurimas Darguzis</span>
    
  </md-toolbar>
</md-sidenav-container>