<md-sidenav-container fullscreen>
  <md-sidenav #sidenav mode="side">
    <md-toolbar>
      <span class="menu-item">Personality</span>

      <md-toolbar-row>
        <span class="menu-item">Projects</span>
      </md-toolbar-row>

      <md-toolbar-row>
        <span class="menu-item">Contact details</span>
      </md-toolbar-row>
    </md-toolbar>
  </md-sidenav>


  <md-toolbar color="primary">
    <button md-button (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>  
    </button>
    <span class="name">Aurimas Darguzis</span>
    
  </md-toolbar>
</md-sidenav-container>