.name {
  margin-left: 10px;
}

.menu-item:hover, :active {
  cursor: not-allowed;
}

.self_portrait {
  border-radius: 50%;
  width: 100px;
  margin: 0 auto;
  margin-top: 100px;
}

.menu-item-contact {
  cursor: pointer;
}

.button_email_me {
  margin:0 auto;
}


/*.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}*/