<br />

<div fxLayout="column">

<!--<div fxLayout="row" fxFlexAlign="center" class="controls_row">-->
<div fxFlexAlign="center">
  <div>
    <!--<a routerLink="/showreel/new"><button md-fab><md-icon>add</md-icon></button></a>-->
    <button md-fab (click)="onNewProject()"><md-icon>add</md-icon></button>
    <button md-fab><md-icon>star</md-icon></button>
  </div>
</div>

<!--<div fxLayout="row" fxFlexAlign="center" class="showreel-header">-->
<div fxFlexAlign="center">
  <div class="showreel-header">
    <h1>projects:</h1>
  </div>
</div> <!-- END of row -->

<!-- *** WORKING HERE ***-->
<div fxLayout="row">
  <div fxLayoutAlign="center" fxFlexOffset="20px">
    <div fxFlex *ngFor="let project of projects; let i = index">

      <md-card>
        <md-card-header>
          <md-card-title>{{project.name}}</md-card-title>
          <md-card-subtitle>{{project.category}}</md-card-subtitle>
        </md-card-header>
        <md-card-content>
          {{project.description}}
        </md-card-content>
      </md-card>
      <md-card-actions>
        <a [routerLink]="[i]"><button md-fab><md-icon>details</md-icon></button></a>
        <button md-fab (click)="onEditProject(project.id)"><md-icon>edit</md-icon></button>
      </md-card-actions>
    </div>
  </div>
</div> <!-- END of row -->

<div fxLayout="row" fxLayout.xs="column">
  <div fxFlexOffset="20px">
    <div fxFlex="50">

    <md-card>
      <md-card-header>
        <div md-card-avatar class="avatar-header"></div>
        <md-card-title>Axioma</md-card-title>
        <md-card-subtitle>World</md-card-subtitle>
      </md-card-header>
      <img md-card-image src="../../../assets/img/showreel/girl-640-min.jpg" alt="Axioma Truth">
      <!--<img md-card-image src="../../../assets/img/showreel/girl-300x211-min.jpg" alt="Axioma Truth">-->
      <md-card-content>
        <p>
          Axioma - statement that is taken to be true, to serve as a premise or starting point for further reasoning and arguments.
        </p>
      </md-card-content>
      <md-card-actions>
        <a class="link" routerLink="/showreel">                                             <button md-button disabled>OPEN</button></a>
        <a class="link" href="http://www.axioma.world/" target="blank">                     <button md-button>DEMO</button></a>
        <a class="link" href="https://github.com/aurimas-darguzis/axioma" target="blank">   <button md-button>CODE</button></a>
        <br>
        <button md-fab (click)="onDetails()"><md-icon>details</md-icon></button>
        <button md-fab (click)="onEditProject()"><md-icon>edit</md-icon></button>
      </md-card-actions>
    </md-card>
    </div>
  </div>
</div><!-- END of row-->



</div>
    <!--<div fxFlex="1 2 calc(15em + 20px)"> sita taip ir palik uzkomeninta --> 