<div class="dialog-box-wrapper">
  <form class="form">
    <table><tr>
      <td><md-input-container class="full-width">
        <input type="text" mdInput placeholder="Name">
      </md-input-container></td>
    </tr>
    <tr>
      <td><md-input-container class="full-width">
        <input type="text" mdInput placeholder="Email">
      </md-input-container></td>
    </tr>
    <tr>
      <td><md-input-container class="full-width">
        <input type="text" mdInput placeholder="Query">
      </md-input-container></td>
    </tr>
    </table>

    <!--<md-tab-group>
      <md-tab label="Tab 1">General ?</md-tab>
      <md-tab label="Tab 2"></md-tab>
      <md-tab label="Tab 3">Content 3</md-tab>
      <md-tab label="Tab 4">Content 4</md-tab>
    </md-tab-group>-->
  </form>


 <p>
    <!--<button md-button (click)="dialogRef.close(dialogName-nickname.value" >X</button>-->
    <button md-button (click)="send()" color="primary">Send</button>
    <button md-button (click)="log()" color="primary">Close</button>
</p> 

</div>  